@tailwind base;
@tailwind components;
@tailwind utilities;

.prueba{
  border: solid 2px red;
}

@media (max-width: 425px) {
    .container_producto {
      width: 150px; 
    }
    .container_component{
        color:Red !important;
        font-weight: bold !important;
    }
  }

  @media (max-width: 250px) {
    .container_producto {
      width: 200px; 
    }
  }